body {
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {
    text-align: center;
    padding: 2em;
    color: rgba(117, 108, 108, 0.699);
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.nameTile {
    border: 3px rgba(97, 93, 93, 0.226) solid;
    box-shadow: 0px 0px 5px .5px rgba(128, 128, 128, 0.342);
    border-radius: 10px;
    font-size: 3vw;
    margin: 0em;
    padding: .2em 2em;
    cursor: pointer;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nameTile:hover {
    transform: scale(1.1);
}

.hideTile {
    margin-top: 1em;
    justify-content: flex-start;
    height: 0;
    overflow: hidden;
    transform: translateX(-100vw);
    transition: transform 1s ease-in-out;
}


.display {
    opacity: 1;
    height: auto;
    transform: translateX(0);
}


ul {
    list-style-type: none;
    padding-inline-start: 1em;
    display: flex;
    flex-direction: column;
}

li {
    border-bottom: 2px rgba(97, 93, 93, 0.349) solid;
    padding: 1.5em 3em;
    font-size: 1em;
    width: 40vw;

}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin: 2em;

    border: 1px solid grey;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    color: rgb(26, 180, 26);
}

input[type=checkbox]:after {
    background-color: white;
    display: block;
}

input[type=checkbox]:checked:after {
    content: " \2714 ";
    border: 1px solid;
    border-radius: 10%;
    padding: 0 .3em;
}

.done {

    border: 5px rgba(4, 160, 11, 0.897) solid;
    transition: all 1s ease-in-out;
    transform: scale(1.2);

}

.percent {
    font-size: 1.5em;
    height: 1.5em;
    margin-bottom: 1em;
    font-weight: 700;
    color: black;
}